<div class="container text-center mt-5">
  <h1 class="mb-4">Estadísticas para {{ modelName }}</h1>
  <div class="row">
    <ng-container *ngFor="let statType of statsTypes">
      <div class="col-md-6 mb-5">
        <h3 class="mb-3">{{ shownStatsTypes[statType] }}</h3>
        <img [src]="getImageUrl(statType)" alt="{{ shownStatsTypes[statType] }} statistics for {{ modelName }}" class="img-fluid">
      </div>
    </ng-container>
  </div>

  <div *ngIf="modelData" class="mt-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title text-primary">Observaciones</h4>
        <p class="card-text">{{ modelData.observations }}</p>
        <h4 class="card-title text-primary">Casos de Uso</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let useCase of modelData.useCases">{{ useCase }}</li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
