/* styles.css o main-interface.component.css */
.container {
    max-width: 600px;
    margin: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  