<div class="container mt-5">

  <div class="card shadow-sm rounded-lg welcome-card text-center">
    <div class="card-body">
      <p class="card-text">Bienvenido a nuestra herramienta de análisis de texto. Aquí podrás analizar diferentes aspectos de tu texto como emociones, rasgos de personalidad, y más.</p>
      <button type="button" [routerLink]="['/stats']" class="btn btn-dark btn-block" >Ir a Estadísticas</button>
    </div>
  </div>
  
  <div class="text-entry-section">
    <div class="text-center mb-4">
      <h2>Escribe el texto a analizar</h2>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="textInput" rows="4" placeholder="Introduce aquí tu texto..." [(ngModel)]="inputText"></textarea>
    </div>
    <div class="text-center">
      <button class="btn btn-dark btn-block" (click)="analyzeText()">Analizar</button>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="analysisResults">
  <div class="results mt-4">
    <div *ngIf="analysisResults.ekmanEmotion">
      <h5>Emoción de Ekman</h5>
      <div [chart]="barCharts[0]"></div>
      <div [chart]="pieCharts[0]"></div>
    </div>
    <div *ngIf="analysisResults.personalityTrait">
      <h5>Rasgo de Personalidad</h5>
      <div [chart]="barCharts[1]"></div>
      <div [chart]="pieCharts[1]"></div>
    </div>
    <div *ngIf="analysisResults.sentiment">
      <h5>Rasgo de Sentimiento</h5>
      <div [chart]="barCharts[2]"></div>
      <div [chart]="pieCharts[2]"></div>
    </div>
    <div *ngIf="analysisResults.age">
      <h5>Rasgo de Edad</h5>
      <div [chart]="barCharts[3]"></div>
      <div [chart]="pieCharts[3]"></div>
    </div>
    <div *ngIf="analysisResults.gender">
      <h5>Rasgo de Género</h5>
      <div [chart]="barCharts[4]"></div>
      <div [chart]="pieCharts[4]"></div>
    </div>