/* Estilo para el contenedor general de la página */
.container {
  max-width: 600px;
  margin: auto;
  margin-top: 50px; /* Asegurarse de que el margen superior sea suficiente */
}

/* Estilo específico para la tarjeta de bienvenida */
.welcome-card {
  margin-top: 20px; /* Espacio adicional en la parte superior de la primera tarjeta */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: none;
  text-align: center; /* Centra el contenido de la tarjeta */
}

/* Estilo para la sección de entrada de texto */
.text-entry-section {
  margin-top: 60px; /* Aumento del espacio entre la tarjeta de bienvenida y la sección de texto */
}
.btn-group .btn {
  border: 1px solid #ccc;
}

.btn-group .btn-light {
  background-color: #f8f9fa;
}

.btn-group .btn-dark {
  background-color: #343a40;
  color: white;
}

body, html {
  height: 100%;
}

.container {
  min-height: calc(100vh - 100px); /* Adjust as needed */
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}
